@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui" {
  themes: default-theme
}
@plugin "daisyui/theme" {
  name: "default-theme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  /* --color-base-100: oklch(98% 0.02 240);
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240); */
  --color-primary: rgb(255, 102, 91);
  --color-secondary: rgb(239, 146, 97);
  --color-background: rgba(0, 0, 0, 1);
  --color-content: rgba(18, 18, 18, 1);
  /* --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(70% 0.25 200);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30); */

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  /* --border: 1px; */

  /* effects */
  /* --depth: 1;
  --noise: 0; */
}


.my-btn {
  background-color: #1EA1F1;
  border-color: #1EA1F1;
}
.my-btn:hover {
  background-color: #1C96E1;
  border-color: #1C96E1;
}

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 32px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.header-cat {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}

.main-container {
  padding: calc(var(--spacing) * 16);
}

.banner-theme {
  background: var(--color-primary);
  padding: calc(var(--spacing) * 2);
  text-align: center;
  position: sticky;
  top: calc(var(--spacing) * 0);
  left: calc(var(--spacing) * 0)
}

.gradient-theme:hover {
  background-image: radial-gradient("closest-side", var(--color-primary), var(--color-secondary));
}

.disabled {
  color: grey;
}
