html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: rgba(255, 255, 255, .87);
}

.app {
  background-color: #2A2A2E;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
}

a {
  background-color: #19191D;
}

a:hover {
  background-color: #222227;
}

img {
  max-height: 12em;
  object-fit: contain;
}

caption {
  width: 100%;
}

.warningBanner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8pt;
  background-color: #bd2f2f;
  text-align: center;
  display: inline-block;  
  color: white;
}